/**
 * Styles for GameZone section.
 */
.gameZone {
    float: left;
    width: 100%;
}

.gameZone > header {
    font-size: 35px;
    padding-left: 24px;
}

.gameZone > header > img {
    margin: 0px 15px 0px 0px;
    width: 6rem;
}

/* Collectable items are renderd in main */
.gameZone > main {
    height: inherit;
    overflow-y: scroll;
}

@media screen and (min-width: 525px) {
    /* Move game zone to right of scoreboard as space allows */
    .gameZone {
        /* Game zone should take up entire vertical space, but on an iPad
           there is a padding 8px which is unavailable */
        height: 97vh;
        width: min-content;
    }
}

@media screen and (min-width: 941px) {
    /* Let game zone fill available space, proportionally */
    .gameZone {
        width: 60%;
    }
}