/**
 * Styles for GameZone section.
 */
.gameZone {
    float: left;
    /* GameZone should take up entire vertical space, but on an iPad
       there is a padding 8px which is unavailable */
    height: 97vh;
    overflow: hidden;
    width: 60%;
}

.gameZone > header {
    padding-left: 24px;
}

.gameZone > header > img {
    margin: 0px 15px 0px 0px;
    width: 6rem;
}

/* Collectable items are renderd in main */
.gameZone > main {
    height: inherit;
    overflow-y: scroll;
}
