body {
    color: rgb(70,23,143);
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-weight: bold;
    text-transform: uppercase;
}

button {
    border-radius: 4px;
    color: rgb(255, 255, 255);
    margin: 25px;
    padding: 0px 16px 4px;
    vertical-align: top;
}

button:active {
    box-shadow: none;
    margin-top: 29px;
    padding-bottom: 0px;
}

button:hover {
    box-shadow: rgb(0 0 0 / 25%) 0px -2px inset;
    margin-top: 27px;
    padding-bottom: 2px;
}

.blue {
    background: rgb(19, 104, 206);
}

.blue:hover {
    background: rgb(18, 96, 190);
}

.green {
    background: rgb(38, 137, 12);
}

.green:hover {
    background-color: rgb(35, 126, 11);
}

.red {
    background: rgb(226, 27, 60);
}

.red:hover {
    background: rgb(208, 25, 55);
}

.yellow {
    background: rgb(216, 158, 0);
}

.yellow:hover {
    background: rgb(199, 146, 0);
}