/**
 * Styles for Scoreboard section.
 */
.scoreboard {
    /* Scoreboard should take up entire vertical space, but on an iPad
       there is a padding 8px which is unavailable */
    height: 97vh;
    overflow: hidden;
    text-align: center;
}

.scoreboard > * {
    border-bottom: 1px solid rgb(51, 51, 51);
}

.scoreboard > table {
    border-spacing: 20px 15px;
    width: 100%;
}

.scoreboard > table > tbody > tr > td {
    width: 33%;
}

.scoreboard > table > tbody > tr.scoreboarditem > td.label > span {
    /* Make item label look like collectable item button */
    border-color: rgb(118, 118, 118);
    border-radius: 4px;
    border-style: outset;
    border-width: 2px;
    color: white;
    display: table-cell;
    height: 60px;
    /* width was being over-ridden on smaller screen sizes, so fix
       by setting min width */
    min-width: 60px;
    vertical-align: middle;
}

.scoreboard > table > tbody > tr.scoreboarditem > td.label > span:hover {
    /* Make item label look like collectable item button */
    box-shadow: rgb(0 0 0 / 25%) 0px -2px inset;
}

.scoreboard > .scoreboardBonusTotalizer {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: left;
}

.scoreboard > .totalAndNewGameButton {
    border-bottom: none;
    padding-top: 20px;
}

.scoreboard > .totalAndNewGameButton > .scoreboardTotal {
    float: left;
}

.scoreboard > .totalAndNewGameButton > .newGameButton {
    /* Font-weight directive from App.css was not inherited,
       so must be reiterated here */
    font-weight: bold;
    margin-top: 0px;
}

.scoreboard > .scoreboardBonusTotalizer > span,
.scoreboard > .totalAndNewGameButton > .scoreboardTotal > div {
    margin-left: 26px;
}
