/**
 * Styles for Scoreboard section.
 */
.scoreboard {
    display: block;
    float: none;
    text-align: center;
}

.scoreboard > div.scoreboardItemList {
    height: 420px;
    overflow-y: scroll;
}

.scoreboard > div.scoreboardItemList > table {
    border-spacing: 10px 5px;
    width: 100%;
}

.scoreboard > div.scoreboardItemList > table > thead > tr > th {
    /* Make table heading stick to top, even on scroll
       Will not work in IE, but IE currently < 1% of global usage */
    background: white;
    position: sticky;
    top: 0;
}

.scoreboard > div.scoreboardItemList > table > tbody > tr > td {
    width: 33%;
}

.scoreboard > div.scoreboardItemList > table > tbody > tr > td.label {
    padding-left: 20px;
}

.scoreboard > div.scoreboardItemList > table > tbody > tr.scoreboarditem > td.label > span {
    /* Make item label look like collectable item button */
    border-color: rgb(118, 118, 118);
    border-radius: 4px;
    border-style: outset;
    border-width: 2px;
    color: white;
    display: table-cell;
    height: 60px;
    /* width was being over-ridden on smaller screen sizes, so fix
       by setting min width */
    min-width: 60px;
    vertical-align: middle;
}

.scoreboard > div.scoreboardItemList > table > tbody > tr.scoreboarditem > td.label > span:hover {
    /* Make item label look like collectable item button */
    box-shadow: rgb(0 0 0 / 25%) 0px -2px inset;
}

.scoreboard > .scoreboardBonusTotalizer {
    padding: 10px 0px;
}

.scoreboard > .totalAndNewGameButton {
    border-bottom: none;
    padding-top: 20px;
}

.scoreboard > .totalAndNewGameButton > .scoreboardTotal {
    float: none;
    margin-bottom: 20px;
}

.scoreboard > .totalAndNewGameButton > .scoreboardTotal > div {
    margin-left: 0;
}

.scoreboard > .totalAndNewGameButton > .newGameButton {
    /* Font-weight directive from App.css was not inherited,
       so must be reiterated here */
    font-weight: bold;
    margin-top: 0px;
}

.scoreboard > .scoreboardBonusTotalizer > span {
    display: block;
}

@media screen and (min-width: 525px) {
    /* Move scoreboard to the right of gamezone as space allows */
    .scoreboard {
        display: inline;
    }
}

@media screen and (min-width: 605px) {
    /* Float scoreboard right and fix height so that it does not continue
       to increase in size */
    .scoreboard {
        float: right;
        /* Scoreboard should take up entire vertical space, but on an iPad
           there is a padding 8px which is unavailable */
        height: 97vh;
    }
}

@media screen and (min-width: 645px) {
    /* Increase scoreboard sizes when space allows */
    .scoreboard > div.scoreboardItemList {
        height: 505px;
    }

    .scoreboard > div.scoreboardItemList > table {
        border-spacing: 20px 15px;
    }

    .scoreboard > div.scoreboardItemList > table > tbody > tr > td.label {
        padding-left: 0;
    }
}

@media screen and (min-width: 751px) {
    /* When there is space for the bonus label and total on the
       same line, put them on the same line */
    .scoreboard > .scoreboardBonusTotalizer > span {
        display: inline;
        margin-left: 26px;
    }
}

@media screen and (min-width: 941px) {
    /* When space allows, let gamezone expand instead of scoreboard */
    .scoreboard {
        width: 40%;
    }
}

@media screen and (min-width: 1001px) {
    /* When the new game button is on the same line as the total,
       align total and bonus at left */
    .scoreboard > .scoreboardBonusTotalizer {
        text-align: left;
    }

    .scoreboard > .totalAndNewGameButton > .scoreboardTotal {
        float: left;
        margin-bottom: 0;
    }

    .scoreboard > .totalAndNewGameButton > .scoreboardTotal > div {
        margin-left: 26px;
    }
}